article-test/.idea/.name
article-test/.idea/gradle.xml
article-test/.idea/misc.xml
article-test/.idea/runConfigurations.xml
article-test/.idea/vcs.xml
article-test/.idea/codeStyles/codeStyleConfig.xml
article-test/.idea/codeStyles/Project.xml
